.c-c-h-a-login-input401822-container {
  min-height: 100vh;
}
.c-c-h-a-login-input401822-c-c-h-a-login-input401822 {
  width: 1920px;
  height: 1568px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(33, 72, 192, 1);
}
.c-c-h-a-login-input401822-b-g401825 {
  top: -135px;
  left: -1028px;
  width: 3153px;
  height: 2080px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-login-input401822-svg {
  top: 689.4920654296875px;
  width: 1391;
  height: 1391;
  position: absolute;
}
.c-c-h-a-login-input401822-svg01 {
  top: 835.45703125px;
  left: 145.9648895263672px;
  width: 1099;
  height: 1099;
  position: absolute;
}
.c-c-h-a-login-input401822-svg02 {
  top: 964.1365966796875px;
  left: 274.6444396972656px;
  width: 841;
  height: 841;
  position: absolute;
}
.c-c-h-a-login-input401822-svg03 {
  left: 1493.259521484375px;
  width: 1659;
  height: 1386;
  position: absolute;
}
.c-c-h-a-login-input401822-username401830 {
  top: 701.22998046875px;
  left: 700px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-login-input401822-image {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.c-c-h-a-login-input401822-text {
  top: 22.77001953125px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text01 {
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-image1 {
  top: 22.489990234375px;
  left: 20.760007858276367px;
  width: 35px;
  height: 35px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-login-input401822-password401836 {
  top: 813.6799926757812px;
  left: 700px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-login-input401822-image2 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.c-c-h-a-login-input401822-image3 {
  top: 22.4899959564209px;
  left: 20.760007858276367px;
  width: 35px;
  height: 35px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-login-input401822-group256401842 {
  top: 31.32000732421875px;
  left: 76px;
  width: 162px;
  height: 15px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-login-input401822-svg04 {
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg05 {
  left: 84px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg06 {
  left: 42px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg07 {
  left: 126px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg08 {
  left: 21px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg09 {
  left: 105px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg10 {
  left: 63px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-svg11 {
  left: 147px;
  width: 15;
  height: 15;
  position: absolute;
}
.c-c-h-a-login-input401822-loginbtn401851 {
  top: 965.9200439453125px;
  left: 700px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-login-input401822-image4 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.c-c-h-a-login-input401822-text02 {
  top: 22.489980697631836px;
  left: 212.7899932861328px;
  color: rgba(33, 72, 192, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text03 {
  color: rgba(33, 72, 192, 1);
  width: 93px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text04 {
  top: 1063px;
  left: 833px;
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text05 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text06 {
  top: 1132px;
  left: 707px;
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text07 {
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text08 {
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: underline;
}
.c-c-h-a-login-input401822-image5 {
  top: 400px;
  left: 826.2900390625px;
  width: 272px;
  height: 152px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-login-input401822-text09 {
  top: 602px;
  left: 700px;
  color: rgba(255, 255, 255, 1);
  width: 519px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-login-input401822-text10 {
  color: rgba(255, 255, 255, 1);
  width: 519px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
